
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../assets/main banner.png') no-repeat center center fixed;
    background-size: cover;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../assets/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../assets/Lato-Regular.ttf') format('truetype');
}

header {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    
}

.refs {
    font-family: 'Lato-Light';
    font-size: 1.2rem;
    margin-left: 5vw;
    border: solid #E7490F;
    padding: 1% 1%;
    margin-left: 10%;
}

.label {
    margin-right: 10vw;
    margin-left: 10vw;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 40%;
    height: 80%;
}

.phone {
    display: flex;
    align-items: center;
    font-family: 'Lato-Regular';
    margin-right: 5px;
    font-size: 1.4rem;
}

.phone:hover{
    text-decoration: underline;
    color: hsla(0, 0%, 100%, 0.5);
    cursor: pointer;
}
.phone label{
    margin: 0;
}

.button {
    margin-left: 10px;
    background-color: #E7490F;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border: 2px solid black;
    font-size: 1rem;
}
.button:hover{
    cursor: pointer;
    background-color: #992900;
    text-decoration: underline;

}

nav {
    display: flex;
    margin: 10px 0;
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: hsla(0, 0%, 100%, 0.5);
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    background-color: rgba(231, 73, 15, 0.8);
    color: white;
    padding: 20px;
    font-size: 3vw;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: auto;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service h3 {
    font-family: "Lato-Regular";
    font-size: 1rem;
}

.service p {
    font-family: "Lato-Light";
    font-size: 1rem;
}

.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.service img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

footer {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;
    font-size: 1rem;

    color: hsla(0, 0%, 100%, 0.5);
}
.burger {
    cursor: pointer;
    padding: 5px;
    display: none; 
    flex-direction: column;
    align-items: center;
}

.burger div {
    width: 5vw;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    transition: 0.3s;
}

input[type="checkbox"] {
    display: none; 
}

.menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    border-radius: 5px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 12px;
    border-bottom: 1px solid #444;
}


input[type="checkbox"]:checked ~ .menu {
    display: flex;
}


@media (max-width: 750px) {
    .burger {
        display: flex; 
    }

    .refs {
        display: none; 
    }
    .phone{
        font-size: 2vw;

    }
    .button{
        font-size: 2vw;
    }
    .label{
        margin-right: 0;
        margin-left: 10%;
    }
    .phone.label{
        margin: 0;
        right: 0;
    }
    
}
.bg-black {
    background: #000000;
}

.left-text-div{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.exercise {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 4vw;
    background: black;
    color: white;
    width: 92vw;
    height: 92vh;
}

.exercise-text-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.exercise-text{
    color: #FFF;
    font-family: Lato-Light;
    font-size: 1vw;
    font-style: normal;
    width: 70%;
    height: 50vh;
}

.subtitle {
    color: #E7490F;
    font-family: Lato-Regular;
    font-size: 2vw;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    width: 100%;
}

.ex-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    width: 50%;
    font-size: 2vw;
}

.programs-image {
    width: 50%;
    position: relative;
}

.programs-image img {
    width: 50%;
    border-radius: 10px;
}

.gradient {
    width: 25vw;
    height: 25vh;
    border-radius: 50%;
    background: rgb(255, 67, 0);
    filter: blur(115px);
    position: absolute;
    z-index: 1;
}

.cards {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    align-items: center;
}

.card {
    display: inline-flex;
    padding: 30px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #070707;
}

.card-inside {
    display: block;
    flex-direction: column;
    align-items: flex-start;
}

.card-content {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-content-text {
    display: block;
    flex-direction: column;
    align-items: flex-start;
}

.card-text-title {
    display: block;
    color: #FFF;
    font-family: Lato-Regular;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    justify-content: center;
}

.card-text {
    display: block;
    color: #7F7F7F;
    font-family: Lato-Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.card-button {
    display: block;
    padding: 9px 33px;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    border: 1px solid #E7490F;
}

.card-inside img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.disc-fon{
    
    background-color: #FFF;
    background-size: cover;
}